<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Book</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="/add_book" method="POST">
        <label for="title">Book Title:</label>
        <input type="text" id="title" name="title" required><br><br>
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" required><br><br>
        <label for="publication_year">Publication Year:</label>
        <input type="number" id="publication_year" name="publication_year" required><br><br>
        <label for="author_id">Author:</label>
        <select id="author_id" name="author_id" required>
            <option value="">Please choose an author</option>
            {% for author in authors %}
            <option value="{{ author.id }}">{{ author.name }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Add Book">
    </form>
    <p>or <a href="{{ url_for('add_author') }}">add a new author</a>.</p>

</body>
</html>
