<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

<a href="/?sort_by=title">Sort by title</a> | <a href="/?sort_by=author">sort by author</a>

{% for book in books %}
<div>
    <h3>{{ book.title }} from {{ book.author.name }}</h3>
    <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="{{ book.title }} Cover" width="100">
</div>
<hr>
{% endfor %}

</body>
</html>
